/* margin left and right with a mixin */
@mixin body-margin {
    margin-left: 10;
    margin-right: 10;
}
@mixin div-margin {
    margin-left: 15;
    margin-right: 15;
}

body {
    @include body-margin;
}
div {
    @include div-margin;
}
